div.canvas-wrap
    canvas(width=width height=height id=id).canvas
div.log#log
    div.user-data
        div.game-avatar-wrapper
            img.game-avatar(src="https://rha-backend.herokuapp.com/users/gava")#avatar
        div.user-info
            p.font #{username}
            p.font Rating: #{rating}
    div.game-list
    div.game-timer#timer 30
    div.hex-info
        div.row-info
            div.col-info Hex type:
            div.field
        div.row-info
            div.col-info Units:
            div.field
    div.exit-button EXIT
    div.change END TURN
