table.scorboard_table
    h1 Leaderboard
    thead
        tr
            td Nickname
            td Score
    tbody
        each fuck in data
            tr.scorboard_row
                td #{Object.keys(fuck)}
                td #{Object.values(fuck)}
        tr.scorboard_row
            td ⋮
        tr.scorboard_row
            td #{Object.keys(user)}
            td #{Object.values(user)}
    div
        p Страница #{page} из #{Object.values(pages)}

